body { 
    background:#fff; 
    color:#000; 
    font-size:.9em;
    padding: 0;
    margin: 0;
}
#header { 
    position: fixed;
    top: 0;
    font-family: 'Josefin Slab', arial, serif;
    font-size: 16pt;
    background: #333; 
    color: #fff; 
    padding: 10px;
    height: 28px;
    width: 100%;
}
#content {
    margin-top: 48px;
}




#intro {
    width: 20em;
    line-height: 1.5em;
    margin: 4em 1em 1em 1em;
}
#login-form {
    font-size: 14pt;
    width: 100%;
    padding: 0;
    margin: 0;
}

#send-form {
    font-size: 14pt;
    width: 100%;
    padding: 0;
    margin: 0;
}

#footer {
    font-size: 14pt;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    z-index: 99;
}
#intro {
    color: #333;
    margin: 4em 1em 1em 1em;
    line-height: 1.5em;
    text-align: justify;
    width: 30em;
}
#whoareyou, #nickname, #login
{
    color: #000000;
    margin: .5em;
    padding: .5em;
}

#whoareyou {
    width: 20em;
    display: block;
    font-weight: bold;
}

#nickname {
    width: 20em;
    display: block;
    margin-left: 2em;
}

#login {
    width: 5em;
    margin-left: 17em;
    display: block;
}

#whoiam, #message, #send 
{
    padding: .5%;
}

#whoiam {
    width: 10%;
    display: block;
    float: left;
    text-align: right;
}
#message {
    width: 78%;
}
#send {
    width: 10%;
}

#input_box { background: border: 1px #ccc solid; padding: 10px; width: 100%;}

/*------------------------------------------------------------------------------
 * message formatting
 *----------------------------------------------------------------------------*/

#message-container {
    margin: 0;
    padding: 0 0 4em 0;
    overflow: hidden;
}

#message-container li {
  clear: both;
  list-style: none;
}
#message-container li.system {
  color: #666666;
}
#message-container li.user {
  color: #333333;
}
#message-container li.error {
  color: #FF0000;
}

#message-container span {
  padding: 2px .5%;
  display: block;
  float: left;
}
#message-container .message-username {
  font-weight: bold;
  width: 10%;
  text-align: right
}
#message-container .message-body {
    width: 77%;
}
#message-container .message-timestamp {
  width: 10%;
  color: #c7c7c7;
  text-align: center;
}
