<html>
  <head>
    <title>Chatify</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/chat.js"></script>
</head>
<body>
  <div id="header">
    Brubeck chatify demo
  </div>
  <label for="nickname">nick:</label>
  <input id="nickname" type="text"/>
  <textarea id="message" disabled="disabled"></textarea>
  <input id="send" type="button" value="send" disabled="disabled" />
  <div id="messages">
  </div>
</body>
</html>
