<html>
  <head>
    <title>Chatify</title>
    <link rel=stylesheet href="static/css/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/chat.js"></script>
</head>
<body>
  <div id="header">
    Chatify, a Brubeck demo built in the belly of Spotify by a couple hackers.
  </div>
  <div id="content">
      <div id="messages">
      </div>
  </div>
  <div id="footer">
      <div id="login-form">
          <form name="login" action="">
              <label id="whoareyou" for="nickname">Who are you?</label>
              <input id="nickname" type="text" />
              <input id="login" type="submit" name="join" value="join" />
          </form>
      </div>
      <div id="send-form" style="display: none;">
          <form name="send" action="">
              <label id="whoiam" for="message">anonymous:</label>
              <input id="message" type="text" />
              <input id="send" type="submit" name="send" value="send" />
          </form>
      </div>
  </div>
</body>
</html>
